.text-white {
    color: #fff;
}

.blue {
    color: #7893AD;
}

.light-blue {
    color: #8BB8FF;
}

.thin {
    font-weight: 300;
}

.pd-3 {
    padding: 3%;
}

.pd-5 {
    padding: 5%;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

p {
    margin: 0;
}

.mg-top {
    margin-top: 50px;
}

.w-52 {
    width: 52%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.lh {
    line-height: 3.5rem;
}
